@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root
{
    --primary-color: #FBBF24;
}

body
{
    font-family: 'Indie Flower', cursive;
    margin: 0px;
    background-color: #FEF3C7;
}

.navigation
{
    background-color: var(--primary-color);
    color: black;
    text-align: center;
    padding: 1rem;
}

.navigation h1
{
    font-size: xx-large;
}

.hero
{
    padding: 2rem;
}

.hero .img-hero
{
    max-width: 150px;
    display: block;
    margin: auto;
}    

main
{
    max-width: 600px;
    height:fit-content;
    margin: auto;
    display: grid;
}

textarea
{
    width : 100%;
    min-height : 20vh;
    display : block;
    font-family: inherit;
    font-size: 1.3rem;
    color: black;
    outline: none;
    font-weight: bold;
    background-color: transparent;
    border-radius: 10px;
}

textarea::placeholder{
    color: black;
    opacity: 0.78;
}

button
{
    background-color: var(--primary-color);
    color: black;
    font-size: x-large;
    font-weight: bold;
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    font-family: 'Indie Flower', cursive;
    margin: 2rem auto;
    cursor: pointer;
    outline: none;
    width: fit-content;
}

button:hover{
    transform: scale(0.98);
}

#output
{
    border: 0.3px solid black;
    border-radius: 10px;
    min-height: 10vh;
    max-height: 20vh;
    width: 90%;
    margin: 2rem;
    padding: 1rem;
    font-size: x-large;
    margin: auto;
}

.footer
{
    background-color: var(--primary-color);
    padding: 2rem;
    text-align: center;
    color: black;
    margin-top: 2rem;
}

.footer .footer-header
{
    font-weight: bold;
    font-size: xx-large;
}

.footer .footer-para
{
    max-width: 600px;
    font-size: x-large;
    margin: auto;
}
